__pycache__/
*.pyc
*.txt
.hypothesis/
.venv/
testenv/
venv/
.vscode/
.pytest_cache/
.DS_Store
example.py
example_mlp.py
curves_loss/
src/IA/datasets/dataset*.pt
src/IA/models/
src/IA/predictions_images/